/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Oswald, Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/oswald-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/oswald-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/oswald-light.ttf") format("truetype");
  font-weight: 300;
}
